:root {
  --font-family: "Helvetica Neue", sans-serif;
  --primary-color: #8B5CF6;
  --secondary-color: #d7eaff;
  --neutral-color: #c6c6c6;
  --success-color-light: #F2FCE2;
  --success-color-dark: #5d694b;
  --danger-color-light: #f9dfdf;
  --danger-color-dark: #9f6666;
  --white-color: #FFFFFF;
  --text-color: #000000;
  --border-radius: 6px;
}
